body{
  background:#2a2a40;
  height:100vh;
  padding:0;
  margin:0;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content:center;
  align-items:center;
  width:35rem;
  margin:auto;
  height:100%;
}
.container input{
  color: #fff;
  background:#202020;
  padding:0.5rem;
  border: 1px solid #ffac33;
  font-size: 25px;
}
.container button{
  background:linear-gradient(#fecc4c, #ffac33);
  padding:0.5rem 4rem;
  color:#2a2a40;
  border:none;
  border-radius:4px;
  cursor: pointer;
  font-size: 20px;
}
.container p{
  color:#fff;
  font-size: 22px;

}
